body {
    padding-top: 50px;
    background-color: #eee;
}

a, a:hover, a:visited{
    color: inherit;
    text-decoration: none;
}

.desc {
    color: #999;
    font-size: 12px;
}

.data-box {
    position: relative;
    margin-bottom: 8vw;
}

.data-box-item {
    border: 1px solid #DDD;
    background-color: #FFF;
}

.data-box-item .title {
    color: #FFF;
    height: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
}

.data-box-item .title_bg {
    width: 100%;
    height: 0px;
    border-top: 40px solid #5bc0de;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    margin-bottom: 0.5rem;
}

.data-box-item .content {
    padding: 1rem;
}

.index-pic {
    width: 100%;
}

.poem {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    padding-top: 7vw;
    padding-left: 5vw;
    font-size: 2.5vw;
}

.poem .center-padding {
    height: 3vw;
}

.width-full {
    width: 100%;
}

.padding-top-bottom{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.blogbody{
    min-height: 90vh;
}

.footer {
    height: 3rem;
    line-height: 3rem;
    background-color: #FFF;
}