body {
    padding-top: 50px;
    background-color: #eee;
}

.desc {
    color: #999;
    font-size: 12px;
}

.index-box{
    margin-bottom: 100px;
}

.index-pic {
    position: relative;
    background: url("../../resources/pic/hero.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 12% 0;
}

.index-pic .poem {
    height: 250px;
    font-size: 40px;
}

.index-pic .center-padding {
    height: 40px;
}

.grid{
    display: flex;
    flex-direction: row;
}

.grid-box{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 20px 80px 20px 80px;
    border: 1px solid #eee;
    border-width: 0 1px 1px 0;
    -webkit-box-pack: justify;
    -moz-box-pack:justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
}

.grid-box-item{
    width: 100%;
}

.width-full{
    width: 100%;
}

.footer{
    background-color: #FFF;
}